body {
    background:url(new_york_city_buildings-wallpaper-1600x9001.jpg) no-repeat !important; 
    /* background-color: lightblue; */
     /* padding-top:100px; */
    background-size:cover; 
  }
  /* .navbar {
    background: transparent !important;
  } */
  /* .table{
      background: whitesmoke;
  } */
  